__pycache__
__pycache__/*
migrations/*
migrations
.vscode
.vscode/*
*.db
*.sqlite3
*.pickle
venv
venv/*
.coverage
.tox
env*
build
dist
.cache
.eggs
*.egg-info
*.egg
*.log
*.pyo
*.pyc
*$py.class
*.sublime-project
*.sublime-workspace
*.sqlite
*.db
*.bak
*.swp
*.swo
*~
htmlcov